/* ------------------------- base -------------------- */
/* tablet */
@media screen and (max-width: 1024px) {
    .h1 {
        font-size: 70px;
    }

    .h2 {
        font-size: 65px;
    }

    .h3 {
        font-size: 44px;
    }

    .h4 {
        font-size: 34px;
    }

    .h5 {
        font-size: 26px;
    }

    .h6 {
        font-size: 16px;
    }

    .btn {
        padding: 15px 30px;
        font-size: 20px;
    }

    .subtitle {
        font-size: 15px;
    }


}

/* phone */
@media screen and (max-width: 767px) {
    .column-reverse-phone {
        flex-direction: column-reverse;
    }
}

/* -------------------------// base -------------------- */

/* hero-section tablet and phone */
@media screen and (max-width: 1024px) {
    .hero-section {
        padding: 100px 0;
    }

    .hero-section .h1 {
        margin-bottom: 70px;
    }
}

/* //hero-section tablet and phone */

/* footer-section tablet */
@media screen and (max-width: 1024px) {

    .footer-section .col-3,
    .footer-section .col-5,
    .footer-section .col-4 {
        width: 50%;
    }

    ul.social-media-list {
        text-align: left;
    }

    .footer-section {
        padding: 100px 0px 0px 0px;
    }

    .copyright {
        width: 100%;
        flex-direction: column;
        padding-top: 50px;
        margin-top: 50px;
        text-align: center;
    }

    .copyrigh-ditels {
        width: 100%;
        padding: 20px;
    }

    .margin-top-tablet-and-phone {
        margin-top: 50px;
    }
}

/* footer-section phone */
@media screen and (max-width: 767px) {

    .footer-section .col-3,
    .footer-section .col-5,
    .footer-section .col-4 {
        width: 100%;
    }
}

/* //footer-section tablet */

/* about-section  */
/* tab  */
@media screen and (max-width: 1024px) {
    .about-section {
        padding: 100px 0;
    }

    .about-section .subtitle,
    .about-section .h2 {
        margin-bottom: 45px;

    }
}

/* phone  */
@media screen and (max-width: 767px) {
    .about-section .col-7 {
        width: 100%;
    }
}

/*  /about-section  */

/* /effortlessly-section  */
/* tab  */
@media screen and (max-width: 1024px) {
    .effortlessly-section {
        padding: 30px 0;
    }

    .effortlessly-section .subtitle,
    .effortlessly-section .h2 {
        margin-bottom: 45px;
    }

    .effortlessly-section .text-wrapper {
        padding-left: 0px;
    }
}

/* phone  */
@media screen and (max-width: 767px) {
    .effortlessly-section .col-7 {
        width: 100%;
    }

    .effortlessly-section .img-wrapper,
    .effortlessly-section .text-wrapper {
        padding: 12px;
    }
}

/* /effortlessly-section  */
/* survey-section  */
/* tab  */
@media screen and (max-width: 1024px) {
    .survey-section {
        padding: 30px 0;
    }

    .survey-section .subtitle,
    .survey-section .h2 {
        margin-bottom: 45px;
    }

    .survey-section .text-wrapper {
        padding-left: 12px;
    }
}

/* phone  */
@media screen and (max-width: 767px) {
    .survey-section .col-7 {
        width: 100%;
    }

    .survey-section .img-wrapper,
    .survey-section .text-wrapper {
        padding: 12px;
    }
}

/* /survey-section  */
/* client-section  */
@media screen and (max-width: 1024px) {
    .client-section {
        padding: 50px 0;
    }

    .client-section .h3 {
        font-size: 28px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .client-section .col-3 {
        width: 100%;

    }

    .client-logo {
        text-align: center;
    }

    .client-logo img {
        max-width: 170px;
    }
}

/* /client-section  */


/* news-section */
@media screen and (max-width: 1024px) {
    .news-section {
        padding: 100px 0;
    }

    .news-section .h2 {
        margin-bottom: 70px;
    }

    .news-wrapper-text .h5 {
        margin-bottom: 20px;
    }

    .news-wrapper-text .subtitle {
        font-size: 14px;
        margin-bottom: 20px;

    }

}

@media screen and (max-width: 1024px) {
    .news-section .col-7 {
        width: 100%;
    }

    .news-wrapper {
        margin-bottom: 50px;

    }
}

/* /news-section */
@media screen and (max-width: 1024px) {
    .address-wrapper {
        border-radius: 50px;
        padding: 50px 0;
        margin-top: 200px;
        margin-bottom: -220px;
        margin-left: -12px;
        margin-right: -12px;
        min-width: 400px;
        margin-left: -50%;
    }

    .adderss-name {
        font-size: 12px;
    }

    .adderss {
        font-size: 16px;
    }
}

@media screen and (max-width:767px) {
    .feature-section .col-7 {
        width: 100%;
    }

    .feature-section {
        padding-top: 200px;
        margin-top: -150px;
    }

    .feature-section .h4 {
        margin-bottom: 20px;
    }

    .feature-wrapper {
        padding-right: 0px;
    }

    .feature-wrapper {
        padding-bottom: 70px;
    }

    .feature-wrapper .img-wrapper {
        max-width: 100%;
    }

    .feature-btn {
        margin-top: 70px;
    }

    .address-wrapper {
        border-radius: 0px;
        margin-top: 100px;
        margin-bottom: -220px;
        margin-left: -12px;
        margin-right: -12px;
    }

    .office-address,
    .email-address {
        border-left: 1px solid #ffffff2b;
        padding-left: 15px;
    }

    .adderss-name {
        font-size: 14px;

    }

    .adderss {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
    }

}

@media screen and (max-width:767px) {
    .counter-section .col-5 {
        width: 100%;
    }

    .counter-section {
        padding: 200px 0 50px 0;
    }

    .conter-wrapper {
        padding: 20px 0;
    }
}

/* about-page */
@media screen and (max-width:767px) {
    .team-member-section .col-5 {
        width: 100%;
    }

    .about-info-section {
        padding: 150px 0;
    }

    .about-info-section .about-video-wrapper {
        padding-left: 0%;
        padding-top: 50px;
        padding-bottom: 50px;

    }

    .about-info-section .about-video-wrapper .background-img {
        background-size: cover;
        padding: 60px 0;

    }

    .about-info-section .h2 {
        padding: 0px;
        font-size: 40px;
        letter-spacing: 0;
    }

    .team-member-section .h2 {
        padding: 0px;
        font-size: 40px;
        margin-bottom: 40px;
    }

    .counter-section {
        padding: 100px 0 50px 0;
    }



}

/* feature-page */
@media screen and (max-width:767px) {
    .feature-section-margin-bottom-phone {
        margin-bottom: 200px;
    }
}

/* form-page */
@media screen and (max-width:767px) {
    .contact-section {
        padding: 150px 0 0 0;
    }
    .contact-section .col-7 {
        width: 100%;
    }
    .contact-section .h2{
        font-size: 45px;
        margin-bottom: 30px;
    }
  .contact_form{
    margin-top: 70px;
  }
}